.App {
    position: relative;
    overflow-x: clip;
}

/* 1st section color */
.App>:nth-child(1) {
    background: var(--newWhite);
    position: relative;
}

.white-gradient {
    position: absolute;
    height: 20rem;
    width: 20rem;
    background-color: rgb(220, 127, 65);
    filter: blur(150px);
    border-radius: 100px;
}